{% extends "base2.html" %}

{% block title %}Error 404{% endblock %}

{% block content %}	

<div class="grid_24 alpha omega">
	<br />
</div>
<div class="grid_24 alpha omega">
	<br />
	<div class="grid_4 alpha omega">
		<br />
	</div>
	<div class="grid_20 alpha omega">
			<h3>La secci&oacute;n que has intentado acceder no est&aacute; disponible.<br/>
			Por favor, verifica la que los datos estén correctos o comun&iacute;cate con el administrador.<br/></h3>
			<br/>
			<h3><a href="/" title="Ir a la p&aacute;gina de inicio">Ir al inicio.</a></h3>	
	</div>

	
</div>

<div class="grid_24 alpha omega">
	<br />
</div>
<div class="grid_24 alpha omega">
	<br />
</div>
<div class="grid_24 alpha omega">
	<br />
</div>
<div class="grid_24 alpha omega">
	<br />
</div>
<div class="grid_24 alpha omega">
	<br />
</div>
{% endblock %}